<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Produktempfehlungen für Kunden</label>

    <version>1.1.0</version>
    <link>https://github.com/marcmanusch</link>
    <author>Marc Manusch</author>
    <compatibility minVersion="5.2.0"/>

    <changelog version="1.1.0">
        <changes>CHANGE: Berechnung der Vorgeschlagenen Produkte ist nun korrekt.
            Bislang wurden nur die "häufig" gekauften Artikel angezeigt ohne Gewichtung.
        </changes>
        <changes>Change: Config-Parameter wurden geändert.</changes>
    </changelog>

    <changelog version="1.0.3">
        <changes>FIX: Die Version 1.0.2 konnte nicht im Produktivmodus (Cache aktiv) verwendet werden.</changes>
        <changes>Change: Die Daten werden nun als WIDGET geladen und nicht gecached.</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes>ADD: Möglichkeit die mindest Anzahl der dargestellten Artikel zu bestimmen.</changes>
        <changes>ADD: Anzahl der dargestellten Artikel wird duch Zufallsprinzip gesteuert.</changes>
        <changes>ADD: Nutze größtmögliche Anzahl an Artikeln (Ja/Nein).</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes>Erstveröffentlichung</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes>Entwicklung</changes>
    </changelog>

</plugin>