<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <!-- Grundeinstellungen -->
        <element type="boolean">
            <name>active</name>
            <label>Aktiv</label>
        </element>

        <element required="true" type="select" >
            <name>minDisplay</name>
            <label lang="de">Minimum Artikel</label>
            <value>1</value>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">1</label>
                </option>
                <option>
                    <value>2</value>
                    <label lang="de">2</label>
                </option>
                <option>
                    <value>3</value>
                    <label lang="de">3</label>
                </option>
                <option>
                    <value>4</value>
                    <label lang="de">4</label>
                </option>
                <option>
                    <value>5</value>
                    <label lang="de">5</label>
                </option>
                <option>
                    <value>6</value>
                    <label lang="de">6</label>
                </option>
            </store>
        </element>

        <element type="boolean">
            <name>useMax</name>
            <label>zeige größt mögliche Anzahl</label>
        </element>


        <element type="text">
            <name>support</name>
            <label>Support</label>
        </element>

        <element type="text">
            <name>confidence</name>
            <label>Confidence</label>
        </element>

        <element type="date">
            <name>date</name>
            <label>Datum ab</label>
        </element>

    </elements>
</config>